# vscode devcontainer and general setups.
*.tar.gz
*.devcontainer
*.vscode

# specific exceptions of vscode development files.
!vscode/*

# backup folders
backup

# node dependencies folder
node_modules/
